.center{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l1{
  margin: 15px;
}
.todos{
   border: 2px solid black;
}
.enter{
  border: 2px solid red;
}
.parent{
  display: flex;

  flex-direction: column;
}